// Colors
$blue: #0082CA;
$vivid-blue: #018FDE;
$blue-navy:#112C46;
$blue-dark: #02305A;
$deep-blue: #022047;
$ligth-blue:#F3F6FE;
$dark: #151515;
$white: #FFF;
$gray: #D1D1D1;
$gray-dark: #4B545A;
$black: #000;
$yellow: #FFB037;
$green: #06CB75;
$aqua: #06B0CB;
$red: #cf0000;
