@import 'config/colors';
@import 'config/fuentes';
@import 'config/variables';
@import 'config/global';

/************************************************
                    MIXIN
************************************************/
@import "mixin/breakpoints";
@import "mixin/grid";

/************************************************
                    COMPONENTS
************************************************/
@import 'components/utilitybar';
@import 'components/navbar';
@import 'components/buttons';
@import 'components/buttons-o';
@import 'components/system-grid';
@import 'components/footer';
@import 'components/footer';
@import 'components/buscador';
@import 'components/cards';
@import 'components/indicadores';
@import 'components/icons';
@import 'components/iconoshome';
@import 'components/popup';
// @import 'components/owl-carousel';
@import 'components/anchor';


/************************************************
                    UTILITIES
************************************************/
@import 'utilities/headings';
@import 'utilities/texts';
@import 'utilities/text-colors';
@import 'utilities/text-align';
@import 'utilities/weights';
@import 'utilities/bg-colors';
@import 'utilities/padding-margin';

/************************************************
                    Gradient
************************************************/

@include buttons (map-keys($button-colors)...);
@include buttons-ol (map-keys($button-colors)...);
@include bg-colors(map-keys($bg-colors)...);
@include text-colors(map-keys($text-colors)...);
@include text-align(map-keys($text-align)...);
@include weights(map-keys($font-weight)...);

.bg-gradient {
	background-image: linear-gradient(to bottom right,$blue 50%,$vivid-blue 50%);
}

.img-respon-to{
	width: 100%;
	height: auto;
}

.i-fluid{
	width: 100%;
	height: auto;
}
.degradado{
	background: rgba(255, 255, 255, 0);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 16%, #ffffff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 248, 248, 0)), color-stop(16%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 16%, #ffffff 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 16%, #ffffff 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 16%, #ffffff 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 16%, #ffffff 100%);
	z-index: 2;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%
}

.paragraph{
	font:{
		family: $font-regular;
		size: 16px;
	}
}

.paragraph-1{
	font:{
		family: $font-regular;
		size: 20px;
	}
}

.center_content{
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle-lg {
    align-items: center;
}

.box{
	padding: 20px 34px;
	color: $white;
	border-radius: $rounded;
}
